<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Chatob</title>
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="stylesheet" href="/css/index.css" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="shortcut icon" href="/favicon.ico" />
	</head>
	<body>
		<% if (!id) { %>
		<nav>
			<a href="/" class="brand">Chatob</a>
			<div>
				<a href="/account/login">로그인</a>
				<a href="/account/signup">회원가입</a>
			</div>
		</nav>
		<main style="flex-direction: column; justify-content: center; align-items: center; text-align: center">
			<h1>Chatob</h1>
			<p>
				간단한 채팅 사이트<br />
				<button onclick="location.assign('/account/login')">로그인하기</button>
			</p>
			<p style="color: gray">&#8251; 팝업창을 이용하여 채팅을 하기 때문에 팝업 허용을 해주시길 바랍니다.</p>
		</main>
		<% } else { %>
		<nav>
			<a href="/" class="brand">Chatob</a>
			<div>
				<a onclick="document.querySelector('dialog#request').showModal()">친구 추가하기</a>
				<a href="/account/logout">로그아웃</a>
			</div>
		</nav>
		<main>
			<div style="flex: 1">
				<span class="title">친구 목록</span>
				<ul id="friend_list">
					<% if (friends.length > 0) { %> <% for (let friend of friends) { %>
					<li>
						<span>
							<img src="/images/user.png" alt="" />
							<span><%= friend.name %></span>
						</span>
						<span>
							<button type="button" onclick="remove_friend('<%= friend.name %>')">친구 삭제</button>
							<span
								class="status-circle <%= friend.chatting ? 'chatting' : (friend.online ? 'online' : 'offline') %>"
							></span>
						</span>
					</li>
					<% }} else { %> 아직 친구를 추가하지 않으셨습니다.<br />
					<button type="button" onclick="document.querySelector('dialog#request').showModal()">
						친구 추가하기
					</button>
					<% } %>
				</ul>
			</div>
			<div style="flex: 2; display: flex; flex-direction: column">
				<span class="title">온라인</span>
				<ul id="online_friend_list">
					<% const online_friends = friends.filter((friend) => friend.online || friend.chatting) %> <% if
					(online_friends.length > 0) { %> <% for (let friend of online_friends) { %>
					<li>
						<span>
							<img src="/images/user.png" alt="" />
							<span><%= friend.name %></span>
						</span>
						<span>
							<% if (!friend.chatting) { %>
							<button type="button" onclick="chat_request('<%= friend.name %>')">채팅 요청 보내기</button>
							<% } %> <%= friend.chatting ? '채팅 중' : '온라인' %>
							<span class="status-circle <%= friend.chatting ? 'chatting' : 'online' %>"></span>
						</span>
					</li>
					<% }} else { %> 온라인인 친구가 없습니다. <% } %>
				</ul>
				<span class="title">요청 목록</span>
				<ul id="request_list">
					<% if (requests.length > 0) { %> <% for (let request of requests) { %>
					<li>
						<span><%= request %>님의 친구 요청</span>
						<span>
							<button onclick="accept_request('<%= request %>')" style="background-color: green">
								수락
							</button>
							<button
								onclick="decline_request('<%= request %>')"
								style="background-color: rgb(200, 0, 0)"
							>
								거절
							</button>
						</span>
					</li>
					<% }} else { %> 친구 요청이 없습니다. <% } %>
				</ul>
			</div>
			<div id="room">
				<div>
					<h2>방 만들기</h2>
					<p>
						방 이름: <input type="text" id="create_room_name" /><br />
						최대 인원 (2 ~ 100):
						<input type="number" id="max_users" min="2" max="100" value="2" /><br />
						<button
							type="button"
							onclick="create_room(document.querySelector('input#create_room_name').value, document.querySelector('input#max_users').valueAsNumber)"
						>
							만들기
						</button>
					</p>
				</div>
				<div>
					<h2>방 참가하기</h2>
					<p>
						방 이름: <input type="text" id="join_room_name" /><br />
						<button
							type="button"
							onclick="open_chat('/chat?room=' + document.querySelector('input#join_room_name').value)"
						>
							참가하기
						</button>
					</p>
				</div>
			</div>
		</main>

		<dialog id="request">
			<h1>친구 추가하기</h1>
			<p>ID를 이용하여 친구를 추가할 수 있습니다.</p>
			<p>
				<input type="text" id="friend_request_id" minlength="3" maxlength="20" /><br />
				<button type="button" onclick="friend_request(document.querySelector('input#friend_request_id').value)">
					친구 요청 보내기
				</button>
				<button type="button" onclick="document.querySelector('dialog#request').close()">닫기</button>
			</p>
		</dialog>

		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/index.js"></script>
		<% } %>
		<footer>
			<p>
				Made by <a href="https://github.com/OhBeomho">OhBeomho</a><br />
				Source on <a href="https://github.com/OhBeomho/Chatob">Github</a>
			</p>
		</footer>
	</body>
</html>
